{% extends 'base-extended.html' %}
{% block content %}

{% if user.is_authenticated %}
    <h1 style="color: white; background-color: #DF2935; padding: 10px; text-align: center;">Your booking, there you can edit or delete it</h1>
    {% for booking in book %}
        <button type="button" class="btn btn-outline-primary">{{booking.title}}, {{booking.start_time}}</button>
        </br></br><hr>
    {% endfor %}

{% else %}
    <div class="form-group" style="padding-top: 10px;">
    <form method="POST">
        {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        <button class="btn btn-primary">Login</button>
    </div>


{% endif %}


{% endblock %}
