{% extends 'base-extended.html' %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}

        <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Edit Profile</button>
        </form>
        </div>
        
    {% else %}
    You are not correct user...
    {% endif %}

{% else %}
    You are not allowed...
{% endif %}


{% endblock %}
